[Main]
# Full path to the panda directory
panda_directory = 

# Full path to put processed sample analysis
results_directory = 

# Path where malware is temporarily copied to
working_directory = /tmp/ppwd/

# VMs to use. These must have a section in this file. Format: name1,name2,name3
vms = win7x86_0001,win7x86_0002

# Filename of the database
database = /db/db.db

# Delete original file after successful processing
delete_original = false

# Put the result file in the working_directory, then copy them to the results directory when processing is done
# This prevents changing the extension of the original sample
work_in_working = true

[Programs]
# Locations to various programs used to launch malware
html = %programfiles%\Internet Explorer\iexplore.exe
#pdf = %programfiles%\Adobe\Reader 11.0\Reader\AcroRd32.exe
#docx = %programfiles%\Microsoft Office\Office15\WINWORD.EXE
#xlsx = %programfiles%\Microsoft Office\Office15\EXCEL.EXE
#pptx = %programfiles%\Microsoft Office\Office15\POWERPNT.EXE
#python = C:\Python27\pythonw.exe

[Analysis]
# RAM to give the VM
mem = 512M

# Time to wait for the malware to run
execution_time = 240

# Use loadvm to load a snapshot instead of making a copy of the qcow
revert_instead_of_copy = true

# Run 'ipconfig /refresh' in the VM after startup
refresh_network = false

# Use RRpack to compress the replay files
compress_replay = true

# Amount of disk space required to start analysis (in GiB)
free_space = 10

[win7x86_0001]
# The VMs operating system architecture (32/64)
architecture = 32

# Location of this VM's qcow2
qcow_location = /media/qcow/win7x86SP1_0001.qcow2

# The snapshot to revert to (if using revert_instead_of_copy)
snapshot = running

# If auto play has been disabled in Windows
auto_play_disabled = true

# Where to put the malware to run
malware_execution_path = %USERPROFILE%\Desktop

[win7x86_0002]
architecture = 32
qcow_location = /media/qcow/win7x86SP1_0002.qcow2
snapshot = running
auto_play_disabled = true
malware_execution_path = %USERPROFILE%\Desktop